/* reset stylesheet to reset browser defaults back to 0 */
@import url(reset.css);

/* two Google fonts we'll use */
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@-webkit-keyframes pulse {
    0%      {opacity: 0.7;}
    25%     {opacity: 1;}
    50% 	{opacity: .7;}
    75% 	{opacity: .4;}
    100% 	{opacity: .7;}
}
@keyframes pulse {
    0%      {opacity: 0.7;}
    25%     {opacity: 1;}
    50% 	{opacity: .7;}
    75% 	{opacity: .4;}
    100% 	{opacity: .7;}
}

body {
	background-image: url(../img/sandpaper.png);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

article {
	width: 90%;
	background-color: #FFF;
	margin: 20px auto;
}

header {
	background-color: #907A46;
	padding: 10px;
}

header h1 {
	font-family: 'Cantora One', sans-serif;
	line-height: 60px;
	font-size: 200%;
	color: #EEEDEA;
}

header img {
	height: 60px;
	float: right;
	opacity: .7;
}

header img:hover {
	-webkit-animation: pulse 3s infinite;
	animation: pulse 3s infinite;
	opacity: 1;
}

figure {
	display: inline-block;
	padding: 10px;
	background-color: #FFF;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;    
}

figure:hover {
	box-shadow: 2px 2px 6px #555;
}

figure.even:hover {
	-webkit-transform: scale(1.5) rotate(10deg);
	-moz-transform: scale(1.5) rotate(10deg);
	-o-transform: scale(1.5) rotate(10deg);
	-ms-transform: scale(1.5) rotate(10deg);
	transform: scale(1.5) rotate(10deg);
}

figure.odd:hover {
	-webkit-transform: scale(1.5) rotate(-10deg);
	-moz-transform: scale(1.5) rotate(-10deg);
	-o-transform: scale(1.5) rotate(-10deg);
	-ms-transform: scale(1.5) rotate(-10deg);
	transform: scale(1.5) rotate(-10deg);
}

figcaption {
	font-weight: 300;
	text-align: center;
	margin-top: 5px;
}

figure img {
	width: 200px;
	border: 10px solid #EEE;
	border-radius: 2px;
}

footer {
	padding: 10px;
	margin-top: 60px;
}

footer a {
	opacity: .7;
}

footer a:hover {
	opacity: 1; 
}